@use '../custom' as *;

.cipher-section {
    margin: 15rem 0 5rem 0;

    &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100vh;
        padding: 2rem;

        .column {
            display: flex;
            height: 100%;
            gap: 2rem;

            &-1, &-2 {
                border: 2px solid $primary;
                min-width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
    
                textarea {
                    margin-top: 1rem;
                    width: 100%;
                }
    
                .key-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 1rem;
                    
                    input {
                        display: block;
                        margin-left: 5rem;
                        width: 12rem;
                    }
                }
    
                .button-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 1rem;
                }

                .mode-selection-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    select {
                        display: block;
                        width: 12rem;
                        margin-right: 0.4rem;
                    }
                }

                .iv-input-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 0.5rem;

                    input {
                        display: block;
                        margin-right: 0.4rem;
                        width: 12rem;
                    }
                }

                .hidden {
                    display: none;
                }
            }
        }

        .algorithm-option-box {
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;
        }
    }
}