<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cipher Nest</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
      <section class="intro-section">
        <div class="container">
          <nav class="navbar">
            <div class="logo-box">
              <i class="fa-solid fa-lock"></i>
              <h3>Cipher Nest</h3>
            </div>
          </nav>
          <div class="intro-section-box">
            <div class="intro-text">
              <h1>
                <span>Personal</span>
                <span>Data Protection</span>
              </h1>
              <p>Keep your passwords private and protected. Simple, fast, and effective encryption for your texts. </p>
              <a type="button" href="#feature-section" class="learn-more-btn rounded-pill"><p>Learn More</p></a>
            </div>
            <div class="img-box">
              <img src="{% static 'images/intro-image.png' %}" alt="Intro Image">
            </div>
          </div>
        </div>
      </section>
      <section class="feature-section" id="feature-section">
        <div class="container">
          <h1>Encryption Methods Overview</h1>
          <div class="feature-section-box">
            <div class="box-1 box">
              <h3>AES</h3>
              <ul>
                <li>Block Size: 128-bit</li>
                <li>Speed: Fast & Efficient</li>
                <li>Security: Highly Secure</li>
                <li>Key Lengths: 128, 192, 256-bit</li>
              </ul>
            </div>
            <div class="box-2 box">
              <h3>OTP</h3>
              <ul>
                <li>Security: Unbreakable</li>
                <li>High-security communication</li>
                <li>Key management is difficult</li>
                <li>Key: Same length as message</li>
              </ul>
            </div>
            <div class="box-3 box">
              <h3>3DES</h3>
              <ul>
                <li>Speed: Slower than AES</li>
                <li>Key Lengths: 112-bit, 168-bit</li>
                <li>Security: Strong but outdated</li>
                <li>Encryption: 3x DES encryption</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="cipher-section">
        <div class="container">
          <div class="cipher-section-box">
            <h1>Get Started</h1>
            <!-- Form for Encryption -->
            <div class="column">
              <form action="{% url 'encryption:encrypt' %}" method="POST" id="encryptionForm">
                {% csrf_token %}
                <div class="column-1">
                  <h5>Message to Encrypt</h5>
                  <textarea id="encryptMessage" name="encryptMessage" rows="4" cols="50" placeholder="Enter the message to encrypt..."></textarea>
                  <div class="key-box">
                    <label for="encryptionKey">Encryption Key</label>
                    <div class="inner-key-box">
                      <input type="password" id="encryptionKey" name="encryptionKey" placeholder="Enter encryption key">
                      <div class="key-btn">
                        <button class="button" id="generateKeyButton" data-toggle="tooltip" title="Generate Key"><i class="fa-solid fa-key"></i></button>
                        <button type="button" class="button" id="copyKey" data-toggle="tooltip" title="Copy Key"><i class="fa-solid fa-copy"></i></button>
                      </div>
                    </div>
                  </div>

                  <!-- Mode Selection (Hidden by Default) -->
                  <div id="encryptionModeContainer" class="hidden mode-selection-box">
                    <label for="encryptionMode">Encryption Mode</label>
                    <select id="encryptionMode" name="encryptionMode">
                      <option value="ECB">ECB</option>
                      <option value="CBC">CBC</option>
                      <option value="CFB">CFB</option>
                      <option value="CTR">CTR</option>
                    </select>
                  </div>

                  <!-- IV Input (Hidden by Default) -->
                  <div id="encryptionIVContainer" class="hidden iv-input-box">
                    <label for="encryptionIV">Initialization Vector (IV)</label>
                    <div class="inner-iv-box">
                      <input type="text" id="encryptionIV" name="encryptionIV" placeholder="Enter IV">
                      <div class="iv-btn">
                        <button type="button" class="button" id="generateIVButton" data-toggle="tooltip" title="Generate IV"><i class="fa-solid fa-rotate-left"></i></button>
                        <button type="button" class="button" id="copyIv" data-toggle="tooltip" title="Copy IV"><i class="fa-solid fa-copy"></i></button>
                      </div>
                    </div>
                  </div>

                  <!-- Hidden encryptionMethod for Encryption -->
                  <input type="hidden" id="hiddenEncryptionMethod" name="hiddenEncryptionMethod" value="">

                  <textarea id="encryptedMessage" name="encryptedMessage" rows="4" cols="50"></textarea>
                  <div class="button-box">
                    <button type="submit" id="encryptButton" class="rounded-pill">Encrypt</button>
                    <button type="button" id="copyEncryptionButton" class="rounded-pill">Copy Encryption</button>
                  </div>
                </div>
              </form>

              <!-- Form for Decryption -->
              <form action="{% url 'encryption:decrypt' %}" method="POST" id="decryptionForm">
                {% csrf_token %}
                <div class="column-2">
                  <h5>Message to Decrypt</h5>
                  <textarea id="decryptMessage" name="decryptMessage" rows="4" cols="50" placeholder="Enter the message to decrypt..."></textarea>
                  <div class="key-box inner-box">
                    <label for="decryptionKey">Decryption Key</label>
                    <input type="password" id="decryptionKey" name="decryptionKey" placeholder="Enter decryption key"><br><br> 
                  </div>

                  <!-- Mode Selection for Decryption (Hidden by Default) -->
                  <div id="decryptionModeContainer" class="hidden mode-selection-box inner-box">
                    <label for="decryptionMode">Decryption Mode</label>
                    <select id="decryptionMode" name="decryptionMode">
                      <option value="ECB">ECB</option>
                      <option value="CBC">CBC</option>
                      <option value="CFB">CFB</option>
                      <option value="CTR">CTR</option>
                    </select>
                  </div>

                  <!-- Hidden encryptionMethod for Decryption form -->
                  <input type="hidden" id="hiddenDecryptionMethod" name="hiddenDecryptionMethod" value="">

                  <div class="button-box">
                    <button type="submit" id="decryptButton" class="rounded-pill">Decrypt</button>
                    <button type="button" id="copyDecryptionButton" class="rounded-pill">Copy Decryption</button>
                  </div>
                  <textarea id="decryptedMessage" name="decryptedMessage" rows="4" cols="50"></textarea>
                </div>
              </form>
            </div>
            <div class="algorithm-option-box">
              <label for="encryptionMethod"><h5>Choose Algorithm</h5></label>
              <select id="encryptionMethod" name="encryptionMethod">
                <option value="otp" selected>OTP (One-Time Pad)</option>
                <option value="aes">AES (Advanced Encryption Standard)</option>
                <option value="des">3DES (Triple Data Encryption Standard)</option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <footer class="footer">
        <div class="container-fluid">
          <!-- Connect With Us -->
          <div class="connect-with-us align-items-center">
            <div class="connect-with-us-content">
              connect with us on social media
            </div>
            <div class="connect-with-us-icons">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="https://github.com/1Light"><i class="fab fa-github"></i></a>
              <a href="www.linkedin.com/in/nasir-adem-degu"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <!-- Footer Description, Copyright and Resources -->
          <div class="footer-column">
            <div class="col-lg-6 footer-column-description">
              <h5 class="text-capitalize fw-bold text-white">Cipher Nest</h5>
              <hr class="bg-white" style="width: 90px; height: 5px" />
              <p class="lh-lg text-white footer-column-content pe-3">
                At Cipher Nest, we empower individuals and businesses with cutting-edge encryption tools, ensuring secure communication and data protection in a digital world.
              </p>
            </div>
            <div class="col-lg-6 footer-column-resources">
              <div class="col-lg-4">
                <h5 class="fw-bold text-white">Products</h5>
                <hr class="bg-white" style="width: 90px; height: 5px" />
                <ul class="products-list list-unstyled">
                  <li><a href="#">Subscription Plans</a></li>
                  <li><a href="#">Feature Highlights</a></li>
                  <li><a href="#">Encrypt with Us</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5 class="fw-bold text-white">Useful Links</h5>
                <hr class="bg-white" style="width: 90px; height: 5px" />
                <ul class="useful-links-list list-unstyled">
                  <li><a href="#">Help & Support</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5 class="fw-bold text-white">Contact</h5>
                <hr class="bg-white" style="width: 90px; height: 5px" />
                <ul class="contact-list list-unstyled">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Start the Copyright Info -->
        <div class="row text-center mt-3">
          <div class="col-12">
            <div class="footer-copyright">
              &COPY; Copyright 2024 <a href="#">Multi-Purpose Company</a> |
              Created by
              <a href="https://github.com/1Light" target="_blank">Nasir</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    <script type="text/javascript">
        // Pass the URL to a JavaScript variable
        var generateKeyUrl = "{% url 'encryption:generate-password' %}";
        var generateIvUrl = "{% url 'encryption:generate-iv' %}";
        var encryptUrl = "{% url 'encryption:encrypt' %}";
        var decryptUrl = "{% url 'encryption:decrypt' %}";
    </script>
    <script src="{% static 'js/cipher.js' %}"></script>
  </body>
</html>