<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cipher Nest</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
  </head>
  <body>
    <section class="cipher-section">
        <div class="container">
            <div class="cipher-section-row">
                <div class="column-1">
                    <h1>Column 1</h1>
                </div>
                <div class="column-2">
                    <h1>Column 2</h1>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
